<div th:fragment="tourFilterFormContent">
    <div class="row align-items-end">
        <div class="col">
            <label for="filterStartDate" th:text="#{start.cap} + #{date}"></label>
            <input type="text" class="form-control date-picker date-picker-single date-picker-single-tour-filter-form"
                   id="filterStartDate"
                   th:field="*{startDate}" th:value="${tourFilter.getStartDateAsString()}" name="startDate">
        </div>
        <div class="col">
            <label for="filterEndDate" th:text="#{end.cap} + #{date}"></label>
            <input type="text" class="form-control date-picker date-picker-single date-picker-single-tour-filter-form"
                   id="filterEndDate"
                   th:field="*{endDate}" th:value="${tourFilter.getEndDateAsString()}" name="endDate">
        </div>
        <div class="col">
            <label for="filterTourSelect" th:text="#{tour.cap}"></label>
            <select id="filterTourSelect" class="form-control selectpicker tourSelect"
                    th:field="*{tourIds}" multiple
                    data-live-search="true" data-selected-text-format="count > 1"
                    name="tourIds">
                <option th:each="tour : ${allTours}"
                        th:value="${tour.id}"
                        th:text="${tour.id + '. ' + tour.name}"
                        th:selected="${tourFilter.tourIds.contains(tour.id)}">
                </option>
            </select>
        </div>
        <div class="col">
            <button id="submitFilterBtn" type="button" class="btn btn-outline-success btn-block" th:text="#{show.cap} + #{tour.pl}"></button>
            <input type="hidden" name="fragment" th:value="${true}">
        </div>
    </div>
</div>