<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>PCS - Tours</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.11.4/css/jquery.dataTables.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-daterangepicker/css/bootstrap-daterangepicker.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-select/dist/css/bootstrap-select.min.css}" />
</head>
<body class="sb-nav-fixed" >
<div layout:fragment="header">
    <nav class="sb-topnav navbar navbar-expand-sm navbar-light bg-light">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" th:href="@{/}">Picasso 2.0</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Page management components -->
        <div class="mx-auto order-0">
            <div class="row gx-5">
                <div class="col">
                    <button class="btn btn-outline-primary" data-toggle="collapse" href="#tourCriteria" role="button"
                            aria-expanded="false" aria-controls="tourCriteria">
                        <i class="fa-thin fa-filter"></i>
                        <span th:text="#{filter.cap.pl}"></span>
                    </button>
                    <button class="btn btn-outline-primary" id="bindFormToggleBtn" data-toggle="collapse" href="#tourBind" role="button" type="button"
                            aria-expanded="false" aria-controls="tourBind">
                        <i class="fa-thin fa-square-plus"></i>
                        <span th:text="#{bindFormToggleBtn}"></span>
                    </button>
                </div>
            </div>
        </div>

        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                    <li><hr class="dropdown-divider" /></li>

                </ul>
            </li>
        </ul>
    </nav>
</div>

<div layout:fragment="content">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <th:block th:text="#{tour.cap.pl}"></th:block>

            <a class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#toursTableOptions"
               aria-expanded="false" aria-controls="toursTableOptions" href="#">
                <i class="fa-thin fa-filter"></i>
                <span th:text="#{filter.cap.pl}"></span>
            </a>

            <a class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#tourFormContainer"
               aria-expanded="false" aria-controls="tourFormContainer" href="#">
                <i class="fa-thin fa-square-plus"></i>
                <span th:text="#{create.cap}"></span>
            </a>
        </div>
        <div class="card-body">
            <div class="collapse" id="toursTableOptions" th:object="${tourFilter}">
                <div th:include="tour/tourFilterForm :: tourFilterFormContent"></div>
                <hr>
            </div>
            <div class="collapse" id="tourFormContainer">
                <form th:object="${tour}" id="tourForm">
                    <div th:include="tour/tourForm :: tourFormContent"></div>
                </form>
                <hr>
            </div>
            <div class="collapse show">
                <table id="toursTable" class="display compact cell-border hover stripe" th:include="tour/toursTable :: toursTable"></table>
                <hr>
            </div>
        </div>
    </div>
</div>

<div th:fragment="scripts">
    <script type="text/javascript" charset="utf8" th:src="@{/webjars/datatables/js/jquery.dataTables.js}"></script>
    <script type="text/javascript" charset="utf8" th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-select/dist/js/bootstrap-select.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#toursTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                fixedHeader: true,
                columnDefs: [{
                    targets: 2,
                    render: function (data, type, row) {
                        return data.length > 80 ?
                            data.substr(0, 80) + '…' :
                            data;
                    }
                }]
            });

            $('.date-picker-single').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 5,
                autoApply: true,
                autoUpdateInput: true,
                locale: {
                    format: dateTimeFormat,
                }
            });
        });
    </script>
</div>

</body>
</html>