<div th:fragment="tourFilesFragment" id="uploadedFilesTable">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        data-toggle="popover" th:title="#{file.uploaded.help.title}"
                        th:data-content="#{file.uploaded.help}">
                    <i class="fas fa-question-circle"></i>
                </button>
            </th>
            <th scope="col" th:text="#{file.uploaded}"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fileName, row : ${tour.fileNames}">
            <th scope="row" th:text="${row.index + 1}"></th>
            <td>
                <input readonly th:value="${fileName}" th:field="${tour.fileNames[__${row.index}__]}">
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Tour entries management buttons">
                    <a class="btn btn-sm btn-outline-success tourDownloadFileBtn"
                       th:data-tour-id="${tour.id}"
                       th:data-tour-file-name="${fileName}"
                       th:title="#{file.download}"
                       th:href="@{/tour/{id}/file/{name}(id=${tour.id},name=${fileName})}"
                       th:attr="download=${fileName}">
                        <i class="fas fa-download"></i>
                    </a>

                    <button type="button" class="btn btn-sm btn-outline-danger tourDeleteFileBtn"
                            th:data-tour-file-name="${fileName}"
                            th:title="#{file.delete}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>