<table id="toursTable" class="display compact cell-border hover stripe" th:fragment="toursTable">
  <thead>
  <tr>
    <th>ID</th>
    <th th:text="#{name.cap}"></th>
    <th th:text="#{start.cap} + #{date}"></th>
    <th th:text="#{end.cap} + #{date}"></th>
    <th th:text="#{description.cap}"></th>
    <th></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>ID</th>
    <th th:text="#{name.cap}"></th>
    <th th:text="#{start.cap} + #{date}"></th>
    <th th:text="#{end.cap} + #{date}"></th>
    <th th:text="#{description.cap}"></th>
    <th></th>
  </tr>
  </tfoot>
  <tbody>

  <tr th:each="tour, row : ${tours}">
    <td><span th:text="${tour.id}"></span></td>
    <td><span th:text="${tour.name}"></span></td>
    <td><span th:text="${tour.startDate}"></span></td>
    <td><span th:text="${tour.endDate}"></span></td>
    <td th:title="${tour.description}"><span th:text="${tour.description}"></span></td>
    <td>

      <div class="btn-group" role="group" aria-label="Tour entries management buttons">
        <button type="button" class="btn btn-sm btn-outline-primary tourEditBtn"
                th:data-tour-id="${tour.id}" th:title="#{edit.title}">
            <i class="fas fa-edit"></i>
        </button>

        <button type="button" class="btn btn-sm btn-outline-danger tourDeleteBtn"
                th:data-tour-id="${tour.id}" th:title="#{delete.title}">
            <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </td>
  </tr>

  </tbody>
</table>