<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>PCS - Tours</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/jquery.dataTables.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-daterangepicker/css/bootstrap-daterangepicker.css}" />
</head>
<body class="sb-nav-fixed">
<div layout:fragment="content">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Tours
            <button id="showToursTableOptionsBtn" class="btn-sm btn-outline-primary" type="button"
                    data-bs-toggle="collapse" data-bs-target="#toursTableOptions" aria-expanded="false"
                    aria-controls="toursTableOptions" onclick="$('#tourForm').removeClass('show')">
                Show filters
            </button>
            <button id="createNewTourBtn" class="btn-sm btn-outline-success" type="button"
                    data-bs-toggle="collapse" data-bs-target="#tourForm" aria-expanded="false"
                    aria-controls="tourForm" onclick="$('#toursTableOptions').removeClass('show')">
                Create new tour
            </button>
            <div class="collapse" id="toursTableOptions" th:object="${filter}">
                <div class="card card-body">
                    <div class="mb-3">
                        <input type="text" id="filterStartDate" th:field="${filter.startDate}" />
                        <input type="text" id="filterEndDate"  th:field="${filter.endDate}" />
                        <input type="text" id="tourNameFilter" placeholder="type tour name" th:field="${filter.tourName}"/>
                        <button type="button" class="btn-sm btn-outline-success btn-block">Show</button>
                    </div>
                </div>
            </div>

            <div class="collapse" id="tourForm">
                <div class="card card-body">
                    <form th:object="${tour}">
                        <div class="mb-3">
                            <label for="tourNameForm" class="form-label">Name</label>
                            <input type="text" class="form-control" id="tourNameForm" placeholder="enter tour name" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="datepickerForm" class="form-label">Date range</label>
                            <div class="input-daterange input-group" id="datepickerForm" data-provide="datepicker">
                                <input type="text" class="input-sm form-control" name="startDate" />
                                <span class="input-group-addon">to</span>
                                <input type="text" class="input-sm form-control" name="endDate" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="tourDescription" class="form-label">Description</label>
                            <textarea class="form-control" id="tourDescription" rows="3" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Files</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple name="files">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn-sm btn-outline-success btn-block">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="toursTable" class="display compact cell-border hover stripe">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Description</th>
                    <th>Management</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Description</th>
                    <th>Management</th>
                </tr>
                </tfoot>
                <tbody>

                <tr th:each="tour : ${tours}">
                    <td><span th:text="${tour.name}"></span></td>
                    <td><span th:text="${tour.getStartDate('yyyy-MM-dd hh:mm')}"></span></td>
                    <td><span th:text="${tour.getEndDate('yyyy-MM-dd hh:mm')}"></span></td>
                    <td th:title="${tour.description}"><span th:text="${tour.description}"></span></td>
                    <td>
                        <i class="fa-solid fa-pen-to-square"></i>
                        <i class="fa-solid fa-trash-can"></i>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:fragment="scripts">
    <script type="text/javascript" charset="utf8" th:src="@{/webjars/datatables/js/jquery.dataTables.js}"></script>
    <script type="text/javascript" charset="utf8" th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#toursTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                fixedHeader: true,
                columnDefs: [{
                    targets: 3,
                    render: function (data, type, row) {
                        return data.length > 80 ?
                            data.substr(0, 80) + '…' :
                            data;
                    }
                }]
            });

            $(function() {
                $('#filterStartDate').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    minYear: 1901,
                    maxYear: parseInt(moment().format('YYYY'),10)
                }, function(start, end, label) {
                    var years = moment().diff(start, 'years');
                    alert("You are " + years + " years old!");
                });

                $('#filterEndDate').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    minYear: 1901,
                    maxYear: parseInt(moment().format('YYYY'),10)
                }, function(start, end, label) {
                    var years = moment().diff(start, 'years');
                    alert("You are " + years + " years old!");
                });
            });
        });
    </script>
</div>

</body>
</html>