<div class="row g-2 align-items-end" th:fragment="tourBindFilterFormContent">

  <div class="col-md align-items-end">
    <label for="filterStartDate" th:text="#{start.cap} + #{date}"></label>
    <input type="text" class="form-control date-picker date-picker-single"
           id="filterStartDate"
           th:field="*{startDate}" name="startDate">
  </div>

  <div class="col-md align-items-end">
    <label for="filterEndDate" th:text="#{end.cap} + #{date}"></label>
    <input type="text" class="form-control date-picker date-picker-single"
           id="filterEndDate"
           th:field="*{endDate}" name="endDate">
  </div>

  <div class="col-md align-items-end">
    <label for="filterTourSelect" th:text="#{tour.cap}"></label>
    <select id="filterTourSelect" class="form-control selectpicker tourSelect"
            th:field="*{tourIds}" multiple
            data-live-search="true" data-selected-text-format="count > 1"
            name="tourIds">
      <option th:each="tour : ${allTours}"
              th:value="${tour.id}"
              th:text="${tour.id + '. ' + tour.name}"
              th:selected="${tourBindFilter.tourIds.contains(tour.id)}">
      </option>
    </select>
  </div>

  <div class="col-md align-items-end">
    <label for="filterTourParticipantTypeSelect" th:text="#{tour.participant.type}"></label>
    <select id="filterTourParticipantTypeSelect"
            class="form-control selectpicker tourParticipantTypeSelect"
            th:field="*{tourParticipantTypes}" name="tourParticipantTypes"
            multiple data-live-search="true" data-selected-text-format="count > 3"
            data-tourParticipant-select-id="filterTourParticipantSelect">
      <option th:each="tourParticipantType : ${allTourParticipantTypes}"
              th:value="${tourParticipantType}" th:text="${tourParticipantType.name()}"
              th:selected="${tourBindFilter.tourParticipantTypes.contains(tourParticipantType)}">
      </option>
    </select>
  </div>

  <div class="col-md align-items-end">
    <label for="filterTourParticipantSelect" th:text="#{tour.participant.cap}"></label>
    <select id="filterTourParticipantSelect" class="form-control selectpicker tourParticipantSelect"
            th:field="*{tourParticipantIds}" name="tourParticipantIds"
            multiple data-live-search="true" data-selected-text-format="count > 2">
    </select>
  </div>

  <div class="col-md align-items-end">
    <button id="submitFilterBtn" type="button"
            title="Press to see filtered tours and tourParticipants"
            class="btn btn-outline-success btn-block form-control"
            th:text="#{show.cap} + #{tour.pl}">
    </button>
  </div>
</div>