<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Bind | PCS</title>

  <!-- Latest compiled and minified CSS -->
  <link th:href="@{/vendor/jsgantt-improved/dist/jsgantt.css}" rel="stylesheet" type="text/css"/>

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap-daterangepicker/css/bootstrap-daterangepicker.css}"/>

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap-select/dist/css/bootstrap-select.min.css}"/>

  <link th:href="@{/vendor/popover/css/bootstrap-popover-x.min.css}" rel="stylesheet">

  <style>
    .card-body {
      padding: 0 1rem 1rem;
    }

    .selectpicker {
      border: 1px solid #ccc !important;
      border-radius: 16px;
    }

    div.tour-select-identitfier-text {
      text-align: left;
    }

    div.tour-select-date-range-text {
      text-align: right;
    }
  </style>
</head>
<body class="sb-nav-fixed">

<!-- Page management components -->
<div th:fragment="pageManageComponents" class="mx-auto order-0">

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <a class="nav-link" id="bindFormToggleBtn" data-toggle="collapse" data-target="#tourBindFormCollapse"
         aria-expanded="false" aria-controls="tourBindFormCollapse" href="#tourBindFormCollapse">
        <i id="tourFormToggleBtnIcon" class="fas fa-eye"></i>
        <span th:text="#{bindFormToggleBtn}"></span>
      </a>
    </div>
  </div>
</div>

<div layout:fragment="content">

  <div class="row">
    <div class="col">
      <div class="collapse" id="tourBindFormCollapse">
        <div class="card">
          <div class="card-body">
            <form th:object="${tourBind}" th:method="post" th:action="@{/bind}" th:id="tourBindForm" >
              <div th:replace="tourBind/tourBindForm :: tourBindFormContent"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--            tour bind filter form (filter gantt chart)-->
  <div class="row">
    <div class="col">
      <div class="collapse" id="tourBindFilter">
        <div class="card">
          <div class="card-body">
            <form th:object="${tableFilter}" th:id="tableFilterForm" th:fragment="tableFilterForm">
              <div class="form-row align-items-end">

                <th:block th:include="tour/tourPage :: filterFormContentFragment"></th:block>

                <div class="form-group col">
                  <label for="filterTourParticipantSelect" th:text="#{tour.participant.cap}"></label>
                  <select id="filterTourParticipantSelect" class="form-control selectpicker tourParticipantSelect"
                          th:field="*{tourParticipantIds}" name="tourParticipantIds"
                          data-actions-box="true" data-show-subtext="true"
                          multiple data-live-search="true" data-selected-text-format="count > 2">
                    <th:block th:each="tpt : ${allTourParticipantTypes}">
                      <option th:each="tp : ${tourParticipants.get(tpt)}"
                              th:value="${tp.id}"
                              th:text="${tp.id + '. ' + tp.name}"
                              th:data-subtext="${tp.type}"
                              th:selected="${tableFilter.tourParticipantIds.contains(tp.id)}">
                      </option>
                    </th:block>
                  </select>
                </div>

                <div class="form-group col-sm-1">
                  <button id="submitFilterBtn" type="button" class="btn btn-outline-success btn-block"
                          th:text="#{show.cap} + #{tour.pl}"></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="collapse show">
        <div class="card w-auto">
          <div class="card-header">
            <div class="d-flex">
              <div class="mr-auto p-0">
                <span th:text="#{gantt-chart}"></span>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <a class="nav-link" href="#tourBindFilter" data-target="#tourBindFilter" data-toggle="collapse" aria-controls="tourBindFilter"
                     aria-expanded="false">
                    <i class="fas fa-filter"></i>
                    <span th:text="#{filter.cap.pl}"></span>
                  </a>
                </div>
              </div>
              <div class="p-0">
                <button type="button" class="btn btn-sm btn-outline-danger tableDeleteBtn"
                        th:title="#{delete.title}">
                  <i class="fas fa-trash-alt"></i>
                  <span class="tableDeleteSpan">Delete</span>
                </button>
              </div>
              <div class="p-0">
                <button type="button" class="btn btn-sm btn-outline-primary tableSelectDeselectAllBtn">
                  <i class="fa-solid fa-square-check"></i>
                  <span class="tableSelectDeselectAllSpan">Select all</span>
                </button>
              </div>
              <div class="p-0">
                <button type="button" class="btn btn-sm btn-outline-primary tableExpandCollapseAllBtn">
                  <i class="fa-solid fa-bars-staggered"></i>
                  <span class="tableExpandCollapseAllSpan">Expand all</span>
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div style="position:relative; padding-top: 1rem;" class="gantt" id="GanttChartDIV"></div>
          </div>

          <div class="card-footer text-muted">
            <div class="d-flex">
              <div class="mr-auto p-0">
                <span th:text="#{gantt-chart}"></span>
              </div>
              <div class="p-0">
                <button type="button" class="btn btn-sm btn-outline-danger tableDeleteBtn"
                        th:title="#{delete.title}">
                  <i class="fas fa-trash-alt"></i>
                  <span class="tableDeleteSpan">Delete</span>
                </button>
              </div>
              <div class="p-0">
                <button type="button" class="btn btn-sm btn-outline-primary tableSelectDeselectAllBtn">
                  <i class="fa-solid fa-square-check"></i>
                  <span class="tableSelectDeselectAllSpan">Select all</span>
                </button>
              </div>
              <div class="p-0">
                <button type="button" class="btn btn-sm btn-outline-primary tableExpandCollapseAllBtn">
                  <i class="fa-solid fa-bars-staggered"></i>
                  <span class="tableExpandCollapseAllSpan">Expand all</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--all page related scripts should be wrapped into 'scripts' thymeleaf fragment-->
<div th:fragment="scripts">

  <script th:src="@{/vendor/jsgantt-improved/dist/jsgantt.js}" type="text/javascript"></script>

  <script type="text/javascript" th:src="@{/webjars/momentjs/moment.js}"></script>

  <script type="text/javascript"
          th:src="@{/webjars/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js}"></script>

  <script type="text/javascript" th:src="@{/webjars/bootstrap-select/dist/js/bootstrap-select.js}"></script>

  <script th:src="@{/vendor/popover/js/bootstrap-popover-x.min.js}"></script>

  <script type="module" th:inline="javascript">
    import * as ajaxUtil from "./js/AjaxUtil.js";
    import {FragmentSubject} from "./js/Observer.js";

    // main url stored in head tag of layout.html
    const mainUrl = $("meta[name='mainUrl']").attr("content");

    const userLanguage = $("meta[name='userLanguage']").attr('content');

    const dateRangePickerDateFormat = $("meta[name='dateRangePickerDateFormat']").attr('content');
    const ganttTaskDateFormat = $("meta[name='ganttTaskDateFormat']").attr('content');
    const ganttMajorDateFormat = $("meta[name='ganttMajorDateFormat']").attr('content');

    moment.locale(userLanguage); // to fix different locale issue in date-range picker

    const bindFormFragmentSubject = new FragmentSubject()
            .subscribe(initBindFormTourSelect)
    ;

    let ganttChart = initGanttChart();

    $('.tableDeleteBtn').hide();

    $(document).ready(function () {

      bindFormFragmentSubject.notifyObservers();

      initSingleDatePickers();

      initFilterDates();

      initFilterSubmitButton();

      $('.tableExpandCollapseAllBtn').click(function(e) {
        e.stopImmediatePropagation();
        e.preventDefault();

        let span = $(this).find('span.tableExpandCollapseAllSpan');

        if ($(span).text() === 'Expand all') {
          $('.tableExpandCollapseAllSpan').text('Collapse all');
          // expand all collapsed rows
          $('.gfoldercollapse.row-collapsed').click();
        } else if ($(span).text() === 'Collapse all') {
          $('.tableExpandCollapseAllSpan').text('Expand all');
          // collapse all expanded rows
          $('.gfoldercollapse.row-expanded').click();
        }

        $(this).find('[data-fa-i2svg]')
                .toggleClass('fa-bars-staggered')
                .toggleClass('fa-bars');
      });

      $('.tableSelectDeselectAllBtn').click(function(e) {
        e.stopImmediatePropagation();
        e.preventDefault();

        let checkboxes = $('.bind-delete-checkbox');

        if(checkboxes.is(':checked')) {
          checkboxes.prop("checked", false);

          $('.tableSelectDeselectAllSpan').text('Select all');

          $('.tableDeleteBtn').hide();
        } else {
          checkboxes.prop("checked", true);

          $('.tableSelectDeselectAllSpan').text('Deselect all');

          $('.tableDeleteSpan').text('Delete ' + $('.bind-delete-checkbox:checked').length + ' items');

          $('.tableDeleteBtn').show();
        }

        $(this).find('[data-fa-i2svg]')
                .toggleClass('fa-regular fa-square')
                .toggleClass('fa-solid fa-square-check');
      });

      // init delete buttons
      $('.tableDeleteBtn').click(function (e) {
        e.stopImmediatePropagation();
        e.preventDefault();

        let bindIds = new Set();
        let taskIds = new Set();

        $('.bind-delete-checkbox:checked').each(function (i) {
          let ids = $(this).attr('data-bind-ids').split(',');
          ids.forEach((bindId, i) => bindIds.add(bindId));

          let taskId = $(this).attr('data-task-id');
          taskIds.add(taskId);
        });

        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            let bindIdsArr = Array.from(bindIds);
            let url = mainUrl + '/api/bind/' + bindIdsArr;

            ajaxUtil.del(url).then(() => {

              taskIds.forEach((tid, i) => {
                console.debug('delete gantt task with id = ' + tid);
                ganttChart.RemoveTaskItem(tid);
              });

              console.log('deleted binds %s', bindIdsArr);

              Swal.fire({
                toast: true,
                position: 'top-end',
                icon: 'success',
                title: 'Binds ' + bindIdsArr + ' successfully deleted',
                showConfirmButton: false,
                timer: DEFAULT_TOAST_TIME_OUT
              });

              $('.tableDeleteBtn').hide();

              ganttChart.Draw();
            }).catch((error) => {

              console.error('unable to delete binds %s %s', bindIdsArr, error);

              Swal.fire({
                icon: 'error',
                title: 'unable to delete binds because ' + error
              });
            });
          }
        });
      })
    });

    function initBindFormTourSelect() {
      $('#bindFormTourSelect').on('changed.bs.select', function(e) {
        let tourDescriptionCollapse = $('#tourDescriptionCollapse');

        let selectedOption =  $(this).find(":selected");

        let selectedTourIdArr = selectedOption.map((_, e) => e.value).get();

        if (selectedTourIdArr != null && selectedTourIdArr.length > 0 && selectedTourIdArr[0] !== '') {
          let tourRowId = selectedOption.attr('data-tour-row-id');

          let tour = [[${allTours}]][tourRowId];

          let description = tour.description;

          $('#tourDescriptionTextArea').text(description);

          tourDescriptionCollapse.collapse('show');
        } else {
          tourDescriptionCollapse.collapse('hide');
        }
      });

      $('.tour-single-selectpicker').selectpicker('refresh');
    }

    /**
     * Initialize bootstrap single date range pickers
     * */
    function initSingleDatePickers() {
      $('.date-picker-single').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 5,
        autoApply: true,
        autoUpdateInput: true,
        locale: {
          format: dateRangePickerDateFormat,
        }
      });
    }

    function initFilterDates() {
      let defaultStartDate = new Date([[${tourBindFilter.getStartDateAsString()}]].toString());
      let defaultEndDate = new Date([[${tourBindFilter.getEndDateAsString()}]].toString());

      $('#filterStartDate').data('daterangepicker').setStartDate(defaultStartDate);
      $('#filterEndDate').data('daterangepicker').setStartDate(defaultEndDate);
    }
    /**
     * Get tour binds as gantt chart task from server and reinitialize (redraw) gantt chart
     * */
    function initFilterSubmitButton() {
      $('#submitFilterBtn').on('click', function (e) {
        e.preventDefault();

        $(this).prop('disabled', true);

        let url = mainUrl + '/api/bind/gantt-tasks';
        let formData = $('#tableFilterForm').serialize();

        ajaxUtil.post(url, formData)
                .then((ganttTasks) => {
                  ganttChart = initGanttChart(ganttTasks);
                })
                .catch((error) => {
                  console.error('unable to load tour binds for Gantt chart from server %s', error.responseJSON.message);
                  Swal.fire({
                    icon: 'error',
                    title: 'unable to load tour binds for Gantt chart from server'
                  });
                })
                .finally($(this).prop('disabled', false));
      });
    }
    function initGanttChart(ganttTasks) {

      if (!ganttTasks)
        ganttTasks = [[${toursForGantt}]];

      let ganttChart = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'day');

      // configure ganttChart columns
      ganttChart.setShowRes(0);
      ganttChart.setShowDur(0);
      ganttChart.setShowComp(0);
      ganttChart.setShowStartDate(0);
      ganttChart.setShowEndDate(0);
      ganttChart.setShowPlanStartDate(0);
      ganttChart.setShowPlanEndDate(0);
      ganttChart.setShowCost(0);
      ganttChart.setShowDeps(0);

      // add vertical scroll
      ganttChart.setTotalHeight('300px')

      // configure ganttChart date columns width
      ganttChart.setDayColWidth(22);

      // configure ganttChart date format displayed on top and bottom of the table
      ganttChart.setDayMajorDateDisplayFormat(ganttMajorDateFormat);
      ganttChart.setDateTaskTableDisplayFormat(ganttTaskDateFormat);
      ganttChart.setDateTaskDisplayFormat(ganttTaskDateFormat);

      // configure ganttChart tooltip information
      ganttChart.setShowTaskInfoRes(0)
      ganttChart.setShowTaskInfoLink(0)

      // add data to chart
      $.each(ganttTasks, function (index, data) {
        ganttChart.AddTaskItemObject(data);
      });

      ganttChart.setTotalHeight(document.documentElement.clientWidth);

      ganttChart.setTooltipTemplate(function (task) {
        let tooltipHtml;
        $.ajax({
          url: mainUrl + '/ganttTooltipFragment?taskId=' + task.getDataObject().pID,
          type: "get",
          async: false,
          success: function (responsePayload) {
            console.log('get tooltip fragment success ')
            tooltipHtml = responsePayload;
          },
          error: function (responsePayload) {
            console.log('get tooltip fragment failed ' + responsePayload)
            Swal.fire({
              icon: 'error',
              title: responsePayload
            });
          }
        });
        return tooltipHtml;
      });

      ganttChart.setEvents({
        afterDraw: () => {
          console.log("after draw listener");
          initChartCheckBoxes(ganttChart);
        }
      });

      ganttChart.Draw();

      let gfoldercollapse = $('.gfoldercollapse');

      gfoldercollapse.addClass('row-collapsed');

      gfoldercollapse.click(function(e) {
        $(this).toggleClass('row-collapsed').toggleClass('row-expanded');
      });

      return ganttChart;
    }

    function initChartCheckBoxes(ganttChart) {

      let tasks = ganttChart.getList();

      for (const task of tasks) {

        const taskId = task.getID();
        const sideBarTrId = '#GanttChartDIVchild_' + taskId;

        let taskTr = $(sideBarTrId);

        let commonTaskData = task.getDataObject();

        const bindIds = commonTaskData.bindIds;
        const participantIds = commonTaskData.participantIds;
        const tourId = commonTaskData.tourId;

        taskTr.attr('data-bind-ids', bindIds);
        taskTr.attr('data-participant-ids', participantIds);
        taskTr.attr('data-tour-id', tourId);

        let bindCheckBox = document.createElement("input");

        bindCheckBox.classList.add('form-check-input');
        bindCheckBox.classList.add('bind-delete-checkbox');
        bindCheckBox.setAttribute('type', 'checkbox');
        bindCheckBox.setAttribute('data-bind-ids', bindIds);
        bindCheckBox.setAttribute('data-task-id', taskId);
        bindCheckBox.setAttribute('data-common-task-id', commonTaskData.pID);
        bindCheckBox.setAttribute('value', '');

        let taskTd = taskTr.find('td.gtasklist');

        taskTd.append(bindCheckBox);
      }

      $('.bind-delete-checkbox').change(function(e) {
        e.stopImmediatePropagation();
        e.preventDefault();

        let size = $('.bind-delete-checkbox:checked').length;

        if(size < 1) {
          $('.tableDeleteBtn').hide();
        } else {
          $('.tableDeleteSpan').text('Delete ' + size + ' items');
          $('.tableDeleteBtn').show();
        }
      });
    }

  </script>
</div>
</body>
</html>