<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Bind | PCS</title>

    <!-- Latest compiled and minified CSS -->
    <link th:href="@{/vendor/jsgantt-improved/dist/jsgantt.css}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-daterangepicker/css/bootstrap-daterangepicker.css}"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-select/dist/css/bootstrap-select.min.css}"/>

    <link th:href="@{/vendor/popover/css/bootstrap-popover-x.min.css}" rel="stylesheet">

    <style>
        .card-body {
            padding: 0 1rem 1rem;
        }

        .selectpicker {
            border: 1px solid #ccc !important;
            border-radius: 16px;
        }

        div.tour-select-identitfier-text {
            text-align: left;
        }

        div.tour-select-date-range-text {
            text-align: right;
        }
    </style>
</head>
<body class="sb-nav-fixed">

<!-- Page management components -->
<div th:fragment="pageManageComponents" class="mx-auto order-0">

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="nav-link" href="#tourBindFilter" data-target="#tourBindFilter" data-toggle="collapse" aria-controls="tourBindFilter"
               aria-expanded="false">
                <i class="fas fa-filter"></i>
                <span th:text="#{filter.cap.pl}"></span>
            </a>
        </div>

        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <a class="nav-link" id="bindFormToggleBtn" data-toggle="collapse" data-target="#tourBind"
               aria-expanded="false" aria-controls="tourBind" href="#tourBind">
                <i id="tourFormToggleBtnIcon" class="fas fa-eye"></i>
                <span th:text="#{tourFormToggleBtn}"></span>
            </a>
        </div>
    </div>
</div>

<div layout:fragment="content">

    <div class="row">
        <div class="col">
            <div class="collapse" id="tourBind">
                <div class="card w-auto">
                    <div class="card-header">Bind form</div>
                    <div class="card-body">
                        <form id="tourBindForm" th:object="${tourBind}" th:method="post" th:action="@{/}"
                              th:fragment="tourBindForm">
                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <label for="bindFormTourSelect" th:text="#{Tour}"></label>
                                </div>
                                <div class="col">
                                    <select id="bindFormTourSelect"
                                            class="form-control selectpicker tourSelect show-tick"
                                            required
                                            data-live-search="true" data-selected-text-format="count > 1"
                                            th:field="*{tour}" name="tour">
                                        <option th:value="${null}"></option>
                                        <option th:each="tour : ${allTours}"
                                                th:value="${tour.id}"
                                                th:text="${tour.id + ': ' + tour.name}"
                                                th:data-subtext="${tour.getDateTimeRange()}"
                                                th:selected="${tourBind.tour.id == tour.id}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>

                            <div class="collapse" id="bindResultTourDetails">

                                <div class="row form-group">
                                    <div class="col-sm-2">
                                        <label for="bindResultTourDates" th:text="#{date.cap.pl}"></label>
                                    </div>
                                    <div class="col">
                                        <input id="bindResultTourDates" class="form-control" readonly
                                               th:value="${tourBind.tour?.getDateTimeRange()?.toString()}">
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-2">
                                        <label for="bindResultTourDescription" th:text="#{description.cap}"></label>
                                    </div>
                                    <div class="col">
                                        <textarea id="bindResultTourDescription" class="form-control" readonly
                                                  th:text="${tourBind.tour.description}"></textarea>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>

                            </div>

                            <div id="bindResultTourParticipants" th:fragment="bindResultTourParticipants">
                                <div class="tourParticipant-bind-row" th:each="tourParticipantBind, tourParticipantBindRow : ${tourBind.tourParticipants}">
                                    <div class="row form-group">
                                        <div class="col-sm-2">
                                            <select th:id="${'tourParticipantTypeSelect_' + tourParticipantBindRow.index}"
                                                    class="form-control selectpicker tourParticipantTypeSelect tourParticipantTypeSelect-bindForm"
                                                    data-live-search="true" required
                                                    th:field="${tourBind.tourParticipants[__${tourParticipantBindRow.index}__].tourParticipant.type}"
                                                    th:data-tourParticipant-select-id="${'tourParticipantSelect_' + tourParticipantBindRow.index}">
                                                <option th:value="${null}"></option>
                                                <option th:each="tourParticipantType : ${allTourParticipantTypes}"
                                                        th:value="${tourParticipantType}"
                                                        th:text="${tourParticipantType.name()}"
                                                        th:selected="${tourParticipantBind.tourParticipant != null and tourParticipantBind.tourParticipant.type != null and tourParticipantBind.tourParticipant.type.equals(tourParticipantType)}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select th:id="${'tourParticipantSelect_' + tourParticipantBindRow.index}"
                                                    class="form-control selectpicker tourParticipantSelect tourParticipantSelect-bindForm"
                                                    required
                                                    data-live-search="true"
                                                    th:field="${tourBind.tourParticipants[__${tourParticipantBindRow.index}__].tourParticipant}">
                                                <option th:value="${null}"></option>
                                                <option th:each="tourParticipant : ${@tourParticipantService.getOrEmpty(tourParticipantBind.tourParticipant?.type)}"
                                                        th:value="${tourParticipant.id}"
                                                        th:text="${tourParticipant.id + '. ' + tourParticipant.name}"
                                                        th:data-subtext="${tourParticipant.type.name()}"
                                                        th:selected="${tourParticipantBind.tourParticipant != null and tourParticipantBind.tourParticipant.equals(tourParticipant)}">
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <!--                                            TODO 2022-08-15 enabled only if tourParticipant type and tourParticipant selected. Also allow to add more only if previously added date-range filled. Disallow to submit if any of date-ranges is empty.-->
                                            <button class="btn btn-outline-success bindTourParticipantDateRangeBtn" type="button"
                                                    th:data-tourParticipant-row-id="${tourParticipantBindRow.index}"
                                                    data-ctx="bindTourParticipantDateRange"
                                                    title="Add custom date range. Optional action, if not chosen, tourParticipant will be utilized to full tour date range">
                                                <i class="fa-solid fa-calendar-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn btn-outline-primary unbindTourParticipantBtn" type="button"
                                                    title="Unbind tourParticipant"
                                                    th:data-tourParticipant-row-id="${tourParticipantBindRow.index}">
                                                <i class="fa-solid fa-user-xmark"></i>
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
                                            </button>
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div th:each="tourParticipantDateRange, tourParticipantDateRangeRow : ${tourParticipantBind.getBindIdsToDateRanges}">
                                        <div class="row form-group">
                                            <div class="col-sm-2"></div>
                                            <div class="col">
                                                <input type="hidden" name="bindId"
                                                       th:field="${tourBind.tourParticipants[__${tourParticipantBindRow.index}__].bindIdsToDateRanges[__${tourParticipantDateRangeRow.index}__]?.bindId}">

                                                <input type="text" required
                                                       class="form-control date-picker date-picker-tourParticipant-tour-bind"
                                                       th:id="${'tourParticipantTourDateRange_'+tourParticipantBindRow.index+'-'+tourParticipantDateRangeRow.index}"
                                                       th:data-tourParticipant-id="${tourParticipantBind?.tourParticipant?.id}"
                                                       th:data-tour-id="${tourBind.tour.id}" name="dateRange"
                                                       th:field="${tourBind.tourParticipants[__${tourParticipantBindRow.index}__].bindIdsToDateRanges[__${tourParticipantDateRangeRow.index}__]?.getDateTimeRange}"
                                                       th:value="${tourBind.tourParticipants[__${tourParticipantBindRow.index}__].bindIdsToDateRanges[__${tourParticipantDateRangeRow.index}__]?.getDateTimeRange.toString()}">
                                            </div>
                                            <div class="col-sm-1">
                                                <button class="btn btn-outline-primary unbindTourParticipantDateRangeBtn" type="button"
                                                        th:data-tourParticipant-date-range-row-id="${tourParticipantDateRangeRow.index}"
                                                        th:data-tourParticipant-row-id="${tourParticipantBindRow.index}"
                                                        title="Remove custom date range"
                                                        data-ctx="unbindTourParticipantDateRange">
                                                    <i class="fa-solid fa-calendar-xmark"></i>
                                                </button>
                                            </div>
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse" id="bindResultTourParticipantsControls">
                                <div class="row form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col">
                                        <button class="btn btn-outline-success btn-block" type="button"
                                                id="bindTourParticipantBtn"
                                                th:text="#{bind-tourParticipant-to-the} + ${tourBind.tour?.name}">
                                        </button>
                                    </div>
                                    <div class="col-sm-1">
                                        <!--                                        <button class="btn btn-outline-success" type="button"-->
                                        <!--                                                title="These aren't the tourParticipants you're looking for ? Create new one. ">-->
                                        <!--                                            <i class="fa-solid fa-plus"></i>-->
                                        <!--                                        </button>-->
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group collapse" id="submitBindBtnRow">
                                <div class="col-sm-2"></div>
                                <div class="col">
                                    <!--                                    TODO 2022-08-15 : allow to submit only if: -->
                                    <!--                                    1) Tour is chosen-->
                                    <!--                                    2) At least one tourParticipant chosen-->
                                    <!--                                    3) There is no overlaps with other tours-->
                                    <button class="btn btn-outline-success btn-block" type="submit" id="submitBindBtn"
                                            th:text="#{submit.cap}">
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-warning btn-block" id="resetBindFormBtn"
                                            type="button"
                                            th:title="#{clear.title}">Reset
                                    </button>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--            tour bind filter form (filter gantt chart)-->
    <div class="row">
        <div class="col">
            <div class="collapse show" id="tourBindFilter">
                <div class="card">
                    <div class="card-body">
                        <form th:object="${tourBindFilter}" th:id="tourBindFilterForm" th:fragment="tourBindFilterForm">
                            <div class="row g-2 align-items-end" th:include="tourBind/tourBindFilterForm :: tourBindFilterFormContent"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="collapse show">
                <div class="card w-auto">
                    <div class="card-header">Gantt chart</div>
                    <div class="card-body">
                        <div style="position:relative; padding-top: 1rem;" class="gantt" id="GanttChartDIV"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--all page related scripts should be wrapped into 'scripts' thymeleaf fragment-->
<div th:fragment="scripts">

    <script th:src="@{/vendor/jsgantt-improved/dist/jsgantt.js}" type="text/javascript"></script>

    <script type="text/javascript" th:src="@{/webjars/momentjs/moment.js}"></script>

    <script type="text/javascript"
            th:src="@{/webjars/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/bootstrap-select/dist/js/bootstrap-select.js}"></script>

    <script th:src="@{/vendor/popover/js/bootstrap-popover-x.min.js}"></script>

    <script type="module" th:inline="javascript">
        import * as ajaxUtil from "./js/AjaxUtil.js";
        import {FragmentInitializer} from "./js/Observer.js";

        // main url stored in head tag of layout.html
        const mainUrl = $("meta[name='mainUrl']").attr("content");

        const userLanguage = $("meta[name='userLanguage']").attr('content');

        const dateRangePickerDateFormat = $("meta[name='dateRangePickerDateFormat']").attr('content');
        const ganttTaskDateFormat = $("meta[name='ganttTaskDateFormat']").attr('content');
        const ganttMajorDateFormat = $("meta[name='ganttMajorDateFormat']").attr('content');

        /**
         * When bind form tourParticipants fragment updated notify related observers.
         * */
        const bindFormTourParticipantsFragmentSubject = new FragmentInitializer()
            .subscribe(initTourParticipantTypeSelectChangeListener)
            .subscribe(initBindFormDatePickers)
            .subscribe(refreshBootstrapSelects)
            .subscribe(initUnbindTourParticipantButtons)
            .subscribe(initBindTourParticipantDateRangeButtons)
            .subscribe(initTourParticipantSelectChangeListener)
            .subscribe(initUnbindTourParticipantDateRangeButtons);

        const bindFormFragmentSubject = new FragmentInitializer()
            .subscribe(initBindTourParticipantButton)
            .subscribe(initBindFormTourSelect)
            .subscribe(initBindFormResetButton)
            .subscribe(initBindFormSubmitButton);

        moment.locale(userLanguage); // to fix different locale issue in date-range picker

        $(document).ready(function () {

            initSingleDatePickers();

            initFilterDates();

            initFilterSubmitButton();

            bindFormTourParticipantsFragmentSubject.initialize()

            bindFormFragmentSubject.initialize()

            initGanttChart();

            // onEditEntityButton();

            $('#tourBind').on('show.bs.collapse', function () {
                const selectedTourId = $('#bindFormTourSelect').find(":selected").map((_, e) => e.value).get();

                if (selectedTourId == null || selectedTourId[0] === '') {
                    changeTourParticipantBindFormCollapseElementsVisibility();
                    initBindFormTourDetails();
                    $('#resetBindFormBtn').prop('disabled', true)
                } else {
                    $('#resetBindFormBtn').prop('disabled', false)
                }
            })
        });

        /**
         * Get tour binds as gantt chart task from server and reinitialize (redraw) gantt chart
         * */
        function initFilterSubmitButton() {
            $('#submitFilterBtn').on('click', function (e) {
                e.preventDefault();

                $(this).prop('disabled', true);

                let url = mainUrl + '/api/bind/gantt-tasks';
                let formData = $('#tourBindFilterForm').serialize();

                ajaxUtil.post(url, formData)
                    .then((ganttTasks) => {
                        initGanttChart(ganttTasks);
                    })
                    .catch((error) => {
                        console.error('unable to load tour binds for Gantt chart from server %s', error.responseJSON.message);
                        Swal.fire({
                            icon: 'error',
                            title: 'unable to load tour binds for Gantt chart from server'
                        });
                    })
                    .finally($(this).prop('disabled', false));
            });
        }

        /**
         * Initialize bootstrap single date range pickers
         * */
        function initSingleDatePickers() {
            $('.date-picker-single').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 5,
                autoApply: true,
                autoUpdateInput: true,
                locale: {
                    format: dateRangePickerDateFormat,
                }
            });
        }

        /**
         * Initialize bootstrap date range pickers with min and max dates to choose. Min = tour start date, max = tour end date.
         * When date range is chosen then cal API to validate and check if chosen date range overlaps with other tours.
         *
         * @param tour tour object (JSON data). If undefined then will be used selected tour in bind form.
         * */
        function initBindFormDatePickers(tour) {
            let tourStartDate = null;
            let tourEndDate = null;
            try {
                // if tour not provided use selected tour
                if (!tour) {
                    const chosenTourId = $('#bindFormTourSelect').find(":selected").map((_, e) => e.value).get();
                    if (chosenTourId != null && chosenTourId[0] !== '') {
                        tour = ajaxUtil.getSync(mainUrl + '/api/tour/' + chosenTourId)
                    }
                }
                if (tour) {
                    tourStartDate = new Date(tour.startDate);
                    tourEndDate = new Date(tour.endDate);
                }
            } catch (e) {
                console.error(e);
            }
            $('.date-picker-tourParticipant-tour-bind').daterangepicker({
                showDropdowns: true,
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 5,
                minDate: tourStartDate,
                maxDate: tourEndDate,
                autoApply: true,
                autoUpdateInput: true,
                locale: {
                    separator: ' ~ ',
                    format: dateRangePickerDateFormat,
                }
            }).on('apply.daterangepicker hideCalendar.daterangepicker hide.daterangepicker', function (e, clickedIndex, isSelected, previousValue) {
                // validate bind when tourParticipant dates changed
                let datePickerInputField = $(this);
                let tourParticipantId = $(this).attr('data-tourParticipant-id');
                // in case if date-picker doesn't contains attribute data-tourParticipant-id try to search for value different way
                if (!tourParticipantId) {
                    // search for tourParticipant select related to this date-picker by id
                    // each date picker id has following format tourParticipantTourDateRange_{tourParticipantRowId}-{datePickerRowId} example tourParticipantTourDateRange_0-0
                    // first number after tourParticipantTourDateRange_ indicates to wich tourParticipant select its related.
                    let datePickerId = $(this).attr('id');

                    // extract first number after _
                    let tourParticipantSelectRowIndex = datePickerId.match(/_\d/)[0].substring(1);

                    // find required tourParticipantSelect and extract selected option value which contains tourParticipant id
                    let tourParticipantSelect = $('#' + 'tourParticipantSelect_' + tourParticipantSelectRowIndex).find(":selected").map((_, e) => e.value).get();

                    if (tourParticipantSelect && tourParticipantSelect[0] && tourParticipantSelect[0] !== '') {
                        tourParticipantId = tourParticipantSelect[0];
                    }
                }
                if (tourParticipantId) {

                    let tourId = $(this).attr('data-tour-id');
                    let dateRange = $(this).val();
                    ajaxUtil.get(mainUrl + '/api/bind/validate/' + tourId + '/' + tourParticipantId + '/' + dateRange)
                        .then(() => {
                            if ($(datePickerInputField).hasClass('is-invalid'))
                                $(datePickerInputField).removeClass('is-invalid')
                            enableSubmitBindFormButton();
                        })
                        .catch((error) => {
                            if(error.status === 409) {
                                $(datePickerInputField).addClass('is-invalid')
                                disableSubmitBindFormButton();
                            }
                            Swal.fire({
                                icon: 'error',
                                title: error.responseText
                            });
                        });
                }
            });
        }

        /**
         * When tourParticipant type select value is chosen then load tourParticipants from backend and initialize tourParticipant selects.
         * */
        function initTourParticipantTypeSelectChangeListener() {
            $('.tourParticipantTypeSelect').each(function () {
                $(this).on('changed.bs.select', function () {
                    loadTourParticipantsForSelect($(this));
                });
            });
        }

        /**
         * Get list of tourParticipants from backend and initialize tourParticipant selects.
         * */
        function loadTourParticipantsForSelect($tourParticipantTypeSelect) {

            const chosenTourParticipantTypes = $tourParticipantTypeSelect.find(":selected").map((_, e) => e.value).get();

            const tourParticipantSelectId = '#' + $tourParticipantTypeSelect.attr('data-tourParticipant-select-id');

            let $tourParticipantSelect = $(tourParticipantSelectId);

            $tourParticipantSelect.empty();

            let getTourParticipantsByTypesApiUrl = mainUrl + "/api/tour-participant";

            let payloadData = {
                "types": chosenTourParticipantTypes.toString().replace('[', '').replace(']', '')
            };

            ajaxUtil.get(getTourParticipantsByTypesApiUrl, payloadData)
                .then((tourParticipants) => {
                    let emptyOption = new Option('', null);
                    $tourParticipantSelect.append(emptyOption);
                    $.each(tourParticipants, function (index, tourParticipant) {
                        // add options to select
                        let option = new Option(tourParticipant.id + '. ' + tourParticipant.name, tourParticipant.id);
                        option.setAttribute('data-subtext', tourParticipant.type);
                        $tourParticipantSelect.append(option);
                    });
                    $tourParticipantSelect.prop("disabled", false);
                    $tourParticipantSelect.selectpicker('refresh')
                    // automatically open related tourParticipant select when tourParticipant type select value chosen
                    $tourParticipantSelect.selectpicker('toggle');
                })
                .catch((error) => {
                    console.error('unable to get tourParticipants of type %s from backend %s', chosenTourParticipantTypes, error.responseJSON.message)
                    $tourParticipantSelect.prop("disabled", true);
                    Swal.fire({
                        icon: 'error',
                        title: 'unable to load tourParticipants'
                    });
                });
        }

        /**
         * @param {'show' | 'hide'} visibility - The action to perform. Default value = 'hide'
         */
        function changeTourParticipantBindFormCollapseElementsVisibility(visibility = 'hide') {
            $('#bindResultTourDetails').collapse(visibility);
            $('#bindResultTourParticipants').collapse(visibility);
            $('#bindResultTourParticipantsControls').collapse(visibility);
            $('#submitBindBtnRow').collapse(visibility);
        }

        function initBindFormTourDetails(tour = null) {

            let $bindResultTourName = $('#bindResultTourName');
            let $bindResultTourDates = $('#bindResultTourDates');
            let $bindResultTourDescription = $('#bindResultTourDescription');

            if(!tour) {
                $bindResultTourName.val(null);
                $bindResultTourDates.val(null);
                $bindResultTourDescription.val(null);
            } else {
                let tourStartDate = new Date(tour.startDate);
                let tourEndDate = new Date(tour.endDate);
                let tourDateRange = moment(tourStartDate).format(dateRangePickerDateFormat) + ' ~ ' + moment(tourEndDate).format(dateRangePickerDateFormat);

                $bindResultTourName.val(tour.name);
                $bindResultTourDates.val(tourDateRange);
                $bindResultTourDescription.val(tour.description);
            }
        }

        /**
         * When tour is selected in bind form then:
         * 1. check value if tour == null then hide other form components else load tour from backend and fill tour details.
         * 2. reinitialize date pickers.
         * */
        function initBindFormTourSelect() {
            // when tour is changed in bind form then load tour details like dates and description and update form. Also show/hide other components.
            $('#bindFormTourSelect').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                const selectedTourId = $(this).find(":selected").map((_, e) => e.value).get();
                let $resetBindFormBtn = $('#resetBindFormBtn');
                if (selectedTourId == null || selectedTourId[0] === '') {
                    changeTourParticipantBindFormCollapseElementsVisibility();
                    initBindFormTourDetails();
                    $resetBindFormBtn.prop('disabled', true);
                } else {
                    let url = mainUrl + '/api/tour/' + selectedTourId;
                    ajaxUtil.get(url)
                        .then((tour) => {
                            initBindFormTourDetails(tour);
                            $resetBindFormBtn.prop('disabled', false);
                            $('#bindTourParticipantBtn').text('Add tourParticipant to the ' + tour.name);
                            changeTourParticipantBindFormCollapseElementsVisibility('show');
                        })
                        .catch((error) => {
                            console.error('unable to load tour with id %d %s', selectedTourId, error.responseJSON.message);
                            initBindFormTourDetails();
                            changeTourParticipantBindFormCollapseElementsVisibility();
                            Swal.fire({
                                icon: 'error',
                                title: 'unable to get tour by id: ' + selectedTourId
                            });
                        });
                }
            });
        }

        /**
         * When user selected first time tourParticipant A and selected date ranges then changed tourParticipant validate bind for new tourParticipant should be called again.
         * */
        function initTourParticipantSelectChangeListener() {
            $('.tourParticipantSelect-bindForm').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                let selectedTourId = $('#bindFormTourSelect').find(":selected").map((_, e) => e.value).get();

                if (selectedTourId && selectedTourId[0] && selectedTourId[0] !== '') {
                    selectedTourId = selectedTourId[0];

                    let tourParticipantId = $(this).find(":selected").map((_, e) => e.value).get();

                    $(this).closest('div.tourParticipant-bind-row').find('.date-picker-tourParticipant-tour-bind').each(function (index, dateRangeInput) {
                        let dateRange = $(dateRangeInput).val();
                        ajaxUtil.get(mainUrl + '/api/bind/validate/' + selectedTourId + '/' + tourParticipantId + '/' + dateRange)
                            .then(() => {
                                if ($(dateRangeInput).hasClass('is-invalid'))
                                    $(dateRangeInput).removeClass('is-invalid')

                                enableSubmitBindFormButton();
                            }).catch((error) => {
                                if(error.status === 409) {
                                    $(dateRangeInput).addClass('is-invalid')
                                    disableSubmitBindFormButton();
                                }
                                Swal.fire({
                                    icon: 'error',
                                    title: error.responseText
                                });
                            });
                    })
                }
            });
        }

        function initBindFormSubmitButton() {
            $('#tourBindForm').submit(function (event) {
                event.preventDefault();

                $(this).unbind('submit').submit();

            });
        }

        function initBindFormResetButton() {
            $('#resetBindFormBtn').on('click', function () {
                ajaxUtil.get(mainUrl + '/-1').then((bindFormFragment) => {
                    $('#tourBindForm').html(bindFormFragment);
                    $('#tourBind').collapse('show');
                    bindFormFragmentSubject.initialize()
                    bindFormTourParticipantsFragmentSubject.initialize()
                }).catch((error) => {
                    console.error('initBindFormResetButton unable to load bind form fragment %s', error.responseJSON.message);
                    Swal.fire({
                        icon: 'error',
                        title: 'unable to open bind form for edit'
                    });
                })
            })
        }

        function hideTooltips() {
            $('.JSGanttToolTipcont').attr('showing', null)
            let tooltip = $('.JSGanttToolTip');
            $(tooltip).css('visibility', 'hidden')
            $(tooltip).css('opacity', '0')
            $(tooltip).css('filter', 'alpha(opacity=0)')
        }

        function initEditBindButtons() {
            $('.btn-edit-entity').addEventListener('click', onEditEntityButton)
        }

        // event handler when bind, tour or tourParticipant edit button pressed.
        window.onEditEntityButton=(ctx, entityId) => {

            if (ctx === '/') ctx = "";

            ajaxUtil.get(mainUrl + ctx + '/' + entityId)
                .then((bindFormFragment) => {
                    $('#tourBindForm').html(bindFormFragment);
                    $('#tourBind').collapse('show');
                    // window.scrollTo({ top: 0, behavior: 'smooth' });
                    changeTourParticipantBindFormCollapseElementsVisibility('show');
                    bindFormFragmentSubject.initialize()
                    bindFormTourParticipantsFragmentSubject.initialize()
                })
                .catch((error) => {
                    console.error('initEditEntityButton unable to load bind form fragment for edit bind %s', error.responseJSON.message);
                    Swal.fire({
                        icon: 'error',
                        title: 'Unable to open bind form for edit'
                    });
                })
                .finally(() => {
                    $(this).prop('disabled', false);
                    hideTooltips();
                });
        }

        function initBindTourParticipantButton() {
            $('#bindTourParticipantBtn').on('click', function(e) {
                e.preventDefault();
                $(this).prop('disabled', true);
                updateBindResultTourParticipantsFragment(mainUrl + '/bindTourParticipant')
                    .finally($(this).prop('disabled', false));
            });
        }

        function initUnbindTourParticipantButtons() {
            $('.unbindTourParticipantBtn').on('click', function(e){
                toggleSpinner($(this));
                let tourParticipantRowId = $(this).attr('data-tourParticipant-row-id');
                let url = mainUrl + '/unbindTourParticipant/' + tourParticipantRowId;
                updateBindResultTourParticipantsFragment(url).finally(() => toggleSpinner($(this)));
            });
        }

        function initBindTourParticipantDateRangeButtons() {
            $('.bindTourParticipantDateRangeBtn').on('click', function(e){
                e.preventDefault();
                let tourParticipantRowId = $(this).attr('data-tourParticipant-row-id');

                let url = mainUrl + '/bindTourParticipantDateRange/' + tourParticipantRowId;
                updateBindResultTourParticipantsFragment(url);
            });
        }

        function initUnbindTourParticipantDateRangeButtons() {

            $('.unbindTourParticipantDateRangeBtn').on('click', function(e){
                e.preventDefault();
                let tourParticipantRowId = $(this).attr('data-tourParticipant-row-id');
                let dateRangeRowId = $(this).attr('data-tourParticipant-date-range-row-id');
                let url = mainUrl + '/unbindTourParticipantDateRange/' + tourParticipantRowId + '/' + dateRangeRowId;
                updateBindResultTourParticipantsFragment(url);
            });
        }

        function disableSubmitBindFormButton() {
            $('#submitBindBtn').prop('disabled', true);
        }

        function enableSubmitBindFormButton() {
            $('#submitBindBtn').prop('disabled', false);
        }

        function refreshBootstrapSelects() {
            $('.tourParticipantTypeSelect').selectpicker('refresh');
            $('.tourParticipantSelect').selectpicker('refresh');
            $('.tourSelect').selectpicker('refresh');
        }

        function initFilterDates() {
            let defaultStartDate = new Date([[${tourBindFilter.getStartDateAsString()}]].toString());
            let defaultEndDate = new Date([[${tourBindFilter.getEndDateAsString()}]].toString());

            $('#filterStartDate').data('daterangepicker').setStartDate(defaultStartDate);
            $('#filterEndDate').data('daterangepicker').setStartDate(defaultEndDate);
        }

        function initGanttChart(ganttTasks) {

            if (!ganttTasks)
                ganttTasks = [[${toursForGantt}]];

            let ganttChart = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'day');

            // configure ganttChart columns
            ganttChart.setShowRes(0);
            ganttChart.setShowDur(0);
            ganttChart.setShowComp(0);
            ganttChart.setShowStartDate(0);
            ganttChart.setShowEndDate(0);
            ganttChart.setShowPlanStartDate(0);
            ganttChart.setShowPlanEndDate(0);
            ganttChart.setShowCost(0);
            ganttChart.setShowDeps(0);

            // add vertical scroll
            ganttChart.setTotalHeight('300px')

            // configure ganttChart date columns width
            ganttChart.setDayColWidth(22);

            // configure ganttChart date format displayed on top and bottom of the table
            ganttChart.setDayMajorDateDisplayFormat(ganttMajorDateFormat);
            ganttChart.setDateTaskTableDisplayFormat(ganttTaskDateFormat);
            ganttChart.setDateTaskDisplayFormat(ganttTaskDateFormat);

            // configure ganttChart tooltip information
            ganttChart.setShowTaskInfoRes(0)
            ganttChart.setShowTaskInfoLink(0)

            // add data to chart
            $.each(ganttTasks, function (index, data) {
                ganttChart.AddTaskItemObject(data);
            });

            ganttChart.setTotalHeight(document.documentElement.clientWidth);

            ganttChart.setTooltipTemplate(function (task) {
                let tooltipHtml;
                $.ajax({
                    url: mainUrl + '/ganttTooltipFragment?taskId=' + task.getDataObject().pID,
                    type: "get",
                    async: false,
                    success: function (responsePayload) {
                        console.log('get tooltip fragment success ')
                        tooltipHtml = responsePayload;
                    },
                    error: function (responsePayload) {
                        console.log('get tooltip fragment failed ' + responsePayload)
                        Swal.fire({
                            icon: 'error',
                            title: responsePayload
                        });
                    }
                });
                return tooltipHtml;
            });

            ganttChart.Draw();
        }

        function updateBindResultTourParticipantsFragment(url) {
            return ajaxUtil.post(url, $('#tourBindForm').serialize())
                .then((bindResultTourParticipantsFragment) => {
                    $('#bindResultTourParticipants').html(bindResultTourParticipantsFragment);
                    bindFormTourParticipantsFragmentSubject.initialize()
                })
                .catch((error) => {
                    console.error('updateBindResultTourParticipantsFragment unable to load tourBind/tourBind :: bindResultTourParticipants fragment %s', error.responseJSON.message);
                    Swal.fire({
                        icon: 'error',
                        title: 'Unable add new row for bind tourParticipant date range.'
                    });
                });
        }
    </script>
</div>
</body>
</html>