<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>PCS</title>

    <!-- Latest compiled and minified CSS -->
    <link th:href="@{/vendor/jsgantt-improved/dist/jsgantt.css}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-daterangepicker/css/bootstrap-daterangepicker.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-select/dist/css/bootstrap-select.min.css}"/>

    <link th:href="@{/vendor/popover/css/bootstrap-popover-x.min.css}" rel="stylesheet">

    <style>
        .card-body {
            padding: 0 1rem 1rem;
        }

        .selectpicker {
            border: 1px solid #ccc !important;
            border-radius: 16px;
        }

        div.tour-select-identitfier-text {
            text-align: left;
        }

        div.tour-select-date-range-text {
            text-align: right;
        }
    </style>
</head>
<body class="sb-nav-fixed">

<div layout:fragment="content">
    <div class="card mb-4">
        <div class="card-header">
            <div class="row gx-5">
                <div class="col">
                    <i class="fas fa-table me-1"></i>
                    Gantt chart
                    <a class="btn btn-sm btn-link" data-toggle="collapse" href="#tourCriteria" role="button"
                       aria-expanded="false" aria-controls="tourCriteria tourBind tourFormContainer">
                        Filters
                    </a>
                    <a class="btn btn-sm btn-link" data-toggle="collapse" href="#tourBind" role="button"
                       aria-expanded="false" aria-controls="tourBind tourCriteria tourFormContainer"
                    th:text="#{create-new-bind}"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row tour-bind-container">

                <div class="col">
                    <!--                tour bind form -->
                    <div class="collapse" id="tourBind">
                        <hr/>
                        <form id="tourBindForm" th:object="${tourBind}" th:method="post" th:action="@{/}" th:fragment="tourBindForm">
                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <label for="bindFormTourSelect" th:text="#{tour.cap}"></label>
                                </div>
                                <div class="col">
                                    <select id="bindFormTourSelect" class="form-control selectpicker tourSelect"
                                            required
                                            data-live-search="true" data-selected-text-format="count > 1"
                                            th:field="*{tour}" name="tour">
                                        <option th:value="${null}"></option>
                                        <option th:each="tour : ${allTours}"
                                                th:value="${tour.id}"
                                                th:text="${tour.id + ': ' + tour.name}"
                                                th:selected="${tourBind.tour.id == tour.id}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-outline-success"
                                            th:title="#{tour.no-required-entry}"
                                            data-toggle="collapse" href="#tourFormContainer" type="button"
                                            aria-expanded="false" aria-controls="tourFormContainer">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="collapse" id="bindResultTourDetails">

                                <div class="row form-group">
                                    <div class="col-sm-2">
                                        <label for="bindResultTourDates" th:text="#{date.cap.pl}"></label>
                                    </div>
                                    <div class="col">
                                        <input id="bindResultTourDates" class="form-control" disabled
                                               th:value="${tourBind.tour?.getDateRange()?.toString()}">
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-2">
                                        <label for="bindResultTourDescription" th:text="#{description.cap}"></label>
                                    </div>
                                    <div class="col">
                                        <textarea id="bindResultTourDescription" class="form-control" disabled
                                                  th:text="${tourBind.tour.description}"></textarea>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>

                            </div>
                            <hr/>
                            <div id="bindResultEmployees" th:fragment="bindResultEmployees">
                                <div th:each="employeeBind, i : ${tourBind.employees}">
                                    <div class="row form-group">
                                        <div class="col-sm-2">
                                            <select th:id="${'employeeTypeSelect_' + i.index}"
                                                    class="form-control selectpicker employeeTypeSelect"
                                                    data-live-search="true" required
                                                    th:field="${tourBind.employees[__${i.index}__].employee.type}"
                                                    th:data-employee-select-id="${'employeeSelect_' + i.index}">
                                                <option th:value="${null}"></option>
                                                <option th:each="employeeType : ${allEmployeeTypes}"
                                                        th:value="${employeeType}"
                                                        th:text="${employeeType.name()}"
                                                        th:selected="${employeeBind.employee != null and employeeBind.employee.type != null and employeeBind.employee.type.equals(employeeType)}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select th:id="${'employeeSelect_' + i.index}"
                                                    class="form-control selectpicker employeeSelect" required
                                                    data-live-search="true"
                                                    th:field="${tourBind.employees[__${i.index}__].employee}">
                                                <option th:value="${null}"></option>
                                                <option th:each="employee : ${@employeeService.getOrEmpty(employeeBind.employee?.type)}"
                                                        th:value="${employee.id}"
                                                        th:text="${employee.type + ' ' + employee.id + '. ' + employee.name}"
                                                        th:selected="${employeeBind.employee != null and employeeBind.employee.equals(employee)}">
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <!--                                            TODO 2022-08-15 enabled only if employee type and employee selected. Also allow to add more only if previously added date-range filled. Disallow to submit if any of date-ranges is empty.-->
                                            <button class="btn btn-outline-success" type="button"
                                                    onclick="onBindEmployee($(this).attr('name'))"
                                                    name="bindEmployeeDateRange" th:value="${i.index}"
                                                    title="Add custom date range. Optional action, if not chosen, employee will be utilized to full tour date range">
                                                <i class="fa-solid fa-calendar-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn btn-outline-primary" type="button" name="unbindEmployee"
                                                    title="Unbind employee" th:value="${i.index}"
                                                    onclick="onBindEmployee($(this).attr('name'))">
                                                <i class="fa-solid fa-user-xmark"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div th:each="bindDateRange, j : ${employeeBind.getBindIdsToDateRanges}">
                                        <div class="row form-group">
                                            <div class="col-sm-2"></div>
                                            <div class="col">
                                                <input type="hidden" name="bindId"
                                                       th:field="${tourBind.employees[__${i.index}__].bindIdsToDateRanges[__${j.index}__]?.bindId}">

                                                <input type="text" required
                                                       class="form-control date-picker date-picker-employee-tour-bind"
                                                       th:id="${'employeeTourDateRange_'+i.index+'-'+j.index}"
                                                       th:data-employee-id="${employeeBind?.employee?.id}"
                                                       th:data-tour-id="${tourBind.tour.id}" name="dateRange"
                                                       th:field="${tourBind.employees[__${i.index}__].bindIdsToDateRanges[__${j.index}__]?.dateRange}">
                                            </div>
                                            <div class="col-sm-1">
                                                <button class="btn btn-outline-primary" type="button"
                                                        th:value="${j.index}"
                                                        name="unbindEmployeeDateRange" title="Remove custom date range"
                                                        onclick="onBindEmployee($(this).attr('name'))">
                                                    <i class="fa-solid fa-calendar-xmark"></i>
                                                    <input type="hidden" th:value="${i.index}" name="employeeRowId">
                                                    <input type="hidden" th:value="${j.index}"
                                                           name="unbindEmployeeDateRange">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse" id="bindResultEmployeesControls">
                                <div class="row form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col">
                                        <button class="btn btn-outline-success btn-block" type="button"
                                                name="bindEmployee" id="bindEmployeeBtn"
                                                th:text="#{bind-employee-to-the} + ${tourBind.tour?.name}"
                                                onclick="onBindEmployee($(this).attr('name'))">
                                        </button>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-outline-success" type="button"
                                                title="These aren't the employees you're looking for ? Create new one. ">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group" id="submitBindBtnRow">
                                <div class="col-sm-2"></div>
                                <div class="col">
                                    <!--                                    TODO 2022-08-15 : allow to submit only if: -->
                                    <!--                                    1) Tour is chosen-->
                                    <!--                                    2) At least one employee chosen-->
                                    <!--                                    3) There is no overlaps with other tours-->
                                    <button class="btn btn-outline-success btn-block" type="submit" id="submitBindBtn" th:text="#{submit.cap}">
                                    </button>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="col">
                    <!--                tour form -->
                    <div class="collapse" id="tourFormContainer">
                        <hr/>
                        <form th:object="${tour}" id="tourForm">
                            <div th:include="tour/tourForm :: tourFormContent"></div>
                        </form>
                    </div>
                    <!--                employee form -->
                    <div class="collapse" id="employeeFormContainer">
                        <hr/>
                        <form th:object="${employee}" id="employeeForm">
                            <div th:include="employee/employeeForm :: employeeFormContent"></div>
                        </form>
                    </div>
                </div>

            </div>

            <!--            tour bind filter form (filter gantt chart)-->
            <div class="row">
                <div class="col">
                    <div class="collapse show" id="tourCriteria">
                        <hr/>
                        <form th:object="${tourCriteria}" th:id="tourCriteriaForm">
                            <div class="row g-2 align-items-end">

                                <div class="col-md align-items-end">
                                    <label for="filterStartDate" th:text="#{start.cap} + #{date}"></label>
                                    <input type="text" class="form-control date-picker date-picker-single"
                                           id="filterStartDate"
                                           th:field="*{startDate}" name="startDate">
                                </div>

                                <div class="col-md align-items-end">
                                    <label for="filterEndDate" th:text="#{end.cap} + #{date}"></label>
                                    <input type="text" class="form-control date-picker date-picker-single"
                                           id="filterEndDate"
                                           th:field="*{endDate}" name="endDate">
                                </div>

                                <div class="col-md align-items-end">
                                    <label for="filterTourSelect" th:text="#{tour.cap}"></label>
                                    <select id="filterTourSelect" class="form-control selectpicker tourSelect"
                                            th:field="*{tourIds}" multiple
                                            data-live-search="true" data-selected-text-format="count > 1"
                                            name="tourIds">
                                        <option th:each="tour : ${allTours}"
                                                th:value="${tour.id}"
                                                th:text="${tour.id + '. ' + tour.name}"
                                                th:selected="${tourCriteria.tourIds.contains(tour.id)}">
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md align-items-end">
                                    <label for="filterEmployeeTypeSelect" th:text="#{employee-type}"></label>
                                    <select id="filterEmployeeTypeSelect"
                                            class="form-control selectpicker employeeTypeSelect"
                                            th:field="*{employeeTypes}" name="employeeTypes"
                                            multiple data-live-search="true" data-selected-text-format="count > 3"
                                            data-employee-select-id="filterEmployeeSelect">
                                        <option th:each="employeeType : ${allEmployeeTypes}"
                                                th:value="${employeeType}" th:text="${employeeType.name()}"
                                                th:selected="${tourCriteria.employeeTypes.contains(employeeType)}">
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md align-items-end">
                                    <label for="filterEmployeeSelect">Employee</label>
                                    <select id="filterEmployeeSelect" class="form-control selectpicker employeeSelect"
                                            th:field="*{employeeIds}" name="employeeIds"
                                            multiple data-live-search="true" data-selected-text-format="count > 2">
                                    </select>
                                </div>

                                <div class="col-md align-items-end">
                                    <button id="submitFilterBtn" type="button" onclick="submitGanttFilterForm()"
                                            title="Press to see filtered tours and employees"
                                            class="btn btn-outline-success btn-block form-control" th:text="#{show.cap} + #{tour.pl}">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div style="position:relative; padding-top: 1rem;" class="gantt" id="GanttChartDIV"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--all page related scripts should be wrapped into 'scripts' thymeleaf fragment-->
<div th:fragment="scripts">

    <script th:src="@{/vendor/jsgantt-improved/dist/jsgantt.js}" type="text/javascript"></script>

    <script type="text/javascript" th:src="@{/webjars/momentjs/moment.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/bootstrap-select/dist/js/bootstrap-select.js}"></script>

    <script th:src="@{/vendor/popover/js/bootstrap-popover-x.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        // main url stored in head tag of layout.html
        const mainUrl = $("meta[name='mainUrl']").attr("content");

        const dateTimeFormat = 'DD MMM YYYY HH:mm';

        $(document).ready(function () {

            initSingleDatePickers();

            initFilterDates();

            initBindFormDatePickers();

            initEmployeeTypeSelectChangeListener();

            initGanttChart();

            // when tour is changed in bind form then load tour details like dates and description and update form. Also show/hide other components.
            $('#bindFormTourSelect').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                const selectedTourId = $('#bindFormTourSelect').find(":selected").map((_, e) => e.value).get();

                // if tour not selected hide everything in bind form except tour select
                if (selectedTourId == null || selectedTourId[0] === '') {
                    hideEmployeeBindFormElements();
                    resetEmployeeBindFormFields();
                } else {
                    try {
                        let tour = getTour(selectedTourId, false);
                        let tourStartDate = new Date(tour.startDate);
                        let tourEndDate = new Date(tour.endDate);
                        $('#bindResultTourName').val(tour.name);
                        $('#bindResultTourDates').val(moment(tourStartDate).format(dateTimeFormat) + ' ~ ' + moment(tourEndDate).format(dateTimeFormat));
                        $('#bindResultTourDescription').val(tour.description);

                        $('#bindResultTourDetails').addClass('show');
                        $('#bindResultEmployees').addClass('show');
                        $('#bindResultEmployeesControls').addClass('show');
                        $('#bindEmployeeBtn').text('Add employee to the ' + tour.name);
                    } catch (e) {
                        resetEmployeeBindFormFields();
                        Swal.fire({
                            icon: 'error',
                            title: 'unable to get tour by id: ' + selectedTourId
                        });
                    }
                }
            });

            $('#tourBindForm').submit(function(event) {
                event.preventDefault();

                $(this).unbind('submit').submit();

            });
        });

        function hideEmployeeBindFormElements() {
            $('#bindResultTourDetails').removeClass('show');
            $('#bindResultEmployees').removeClass('show');
            $('#bindResultEmployeesControls').removeClass('show');
            $('#submitBindBtnRow').removeClass('show');
        }

        function resetEmployeeBindFormFields() {
            $('#bindResultTourName').val(null);
            $('#bindResultTourDates').val(null);
            $('#bindResultTourDescription').val(null);
        }

        // event handler when bind, tour or employee edit button pressed.
        function onEditEntity (entityId, ctx) {
            if(!ctx)
                ctx = [[${ctx}]];

            if(ctx === '/')
                ctx = "";

            $.ajax({
                url: mainUrl + ctx + '/' + entityId,
                type: "get",
                success: function (responsePayload) {
                    let form = $('#tourBindForm');
                    let formDiv = $('#tourBind');
                    $(form).html(responsePayload);
                    initEmployeeTypeSelectChangeListener();

                    $('.employeeTypeSelect').selectpicker('refresh');
                    $('.employeeSelect').selectpicker('refresh');
                    $('.tourSelect').selectpicker('refresh');

                    initBindFormDatePickers();

                    if(!$(formDiv).hasClass('show')) {
                        $(formDiv).addClass('show')
                    }
                    if(!$('#bindResultEmployeesControls').hasClass('show')) {
                        $('#bindResultEmployeesControls').addClass('show')
                    }
                    if(!$('#bindResultTourDetails').hasClass('show')) {
                        $('#bindResultTourDetails').addClass('show')
                    }
                },
                error: function (responsePayload) {
                    console.log('onEditEntity ' + responsePayload)
                    Swal.fire({
                        icon: 'error',
                        title: responsePayload
                    });
                }
            });
        }

        function onBindEmployee(ctxPath) {
            $.ajax({
                url: mainUrl + '/' + ctxPath,
                type: "post",
                data: $('#tourBindForm').serialize(),
                success: function (tourBindFormFragment) {
                    $('#bindResultEmployees').html(tourBindFormFragment);

                    initEmployeeTypeSelectChangeListener();

                    $('.employeeTypeSelect').selectpicker('refresh');
                    $('.employeeSelect').selectpicker('refresh');
                    $('.tourSelect').selectpicker('refresh');

                    initBindFormDatePickers();
                },
                error: function (error) {
                    console.error('onBindEmployee ' + error);
                }
            });
        }

        function initEmployeeTypeSelectChangeListener() {
            $('.employeeTypeSelect').each(function () {
                $(this).on('changed.bs.select', function () {
                    loadEmployeesForSelect($(this));
                });
            });
        }

        function submitGanttFilterForm() {
            $('#submitFilterBtn').prop('disabled', true);
            $.ajax({
                url: mainUrl + '/api/bind/gantt-tasks',
                type: "post",
                data: $('#tourCriteriaForm').serialize(),
                success: function (tasks) {
                    initGanttChart(tasks);
                    $('#submitFilterBtn').prop('disabled', false);
                },
                error: function (responseData) {
                    console.error('failed HTTP GET call %s %s', serverEndpoint, responseData);
                    $('#submitFilterBtn').prop('disabled', false);
                }
            });
        }

        function loadEmployeesForSelect($employeeTypeSelect) {

            const chosenEmployeeTypes = $employeeTypeSelect.find(":selected").map((_, e) => e.value).get();

            const employeeSelectId = '#' + $employeeTypeSelect.attr('data-employee-select-id');

            let $employeeSelect = $(employeeSelectId);

            $employeeSelect.empty();

            let getEmployeesByTypesApiUrl = mainUrl + "/api/employee";

            $.ajax({
                url: getEmployeesByTypesApiUrl,
                type: "get",
                data: {
                    "types": chosenEmployeeTypes.toString().replace('[', '').replace(']', '')
                },
                success: function (employees) {
                    $.each(employees, function (index, employee) {
                        let employeeId = employee.id;

                        $employeeSelect.append(new Option(employee.type + ' ' + employee.id + '. ' + employee.name, employeeId));
                    });
                    $employeeSelect.prop("disabled", false);
                    $employeeSelect.selectpicker('refresh');
                    $employeeSelect.selectpicker('toggle');

                    console.log('employee select filled')
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'unable to load employees for chosen types: ' + chosenEmployeeTypes
                    });
                    $employeeSelect.prop("disabled", true);
                    $employeeSelect.selectpicker('refresh');
                    console.error('failed to load employees for select')
                }
            });
        }

        function initSingleDatePickers () {
            $('.date-picker-single').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 5,
                autoApply: true,
                autoUpdateInput: true,
                locale: {
                    format: dateTimeFormat,
                }
            });
        }

        function initFilterDates() {
            let defaultStartDate = new Date([[${tourCriteria.startDate}]].toString());
            let defaultEndDate = new Date([[${tourCriteria.endDate}]].toString());

            $('#filterStartDate').data('daterangepicker').setStartDate(defaultStartDate);
            $('#filterEndDate').data('daterangepicker').setStartDate(defaultEndDate);
        }

        function initBindFormDatePickers() {
            let tourStartDate = null;
            let tourEndDate = null;
            try {
                const chosenTourId = $('#bindFormTourSelect').find(":selected").map((_, e) => e.value).get();
                if(chosenTourId != null && chosenTourId[0] !== '') {
                    let tour = getTour(chosenTourId, false);

                    if(tour) {
                        tourStartDate = new Date(tour.startDate);
                        tourEndDate = new Date(tour.endDate);
                    }
                }
            } catch (e) {
                console.log(e);
            }

            $('.date-picker-employee-tour-bind').daterangepicker({
                showDropdowns: true,
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 5,
                minDate: tourStartDate,
                maxDate: tourEndDate,
                autoApply: true,
                autoUpdateInput: true,
                locale: {
                    separator: ' ~ ',
                    format: dateTimeFormat,
                }
            }).on('apply.daterangepicker', function (e, clickedIndex, isSelected, previousValue) {
                // validate bind when employee dates changed
                $.ajax({
                    url: mainUrl + '/api/bind/validate/' + $(this).attr('data-tour-id') + '/' + $(this).attr('data-employee-id') + '/' + $(this).val(),
                    type: "get",
                    error: function (validateErrorMessage) {
                        console.error('validate bind failed ' + validateErrorMessage);
                        Swal.fire({
                            icon: 'error',
                            title: validateErrorMessage.responseJSON.message
                        });
                    }
                });
            });
        }

        function initGanttChart(ganttTasks) {

            const dateTimeFormat = 'dd mon yyyy hh:mm';
            const dateFormat = 'dd mon yyyy';

            if (!ganttTasks)
                ganttTasks = [[${toursForGantt}]];

            let ganttChart = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'day');

            // configure ganttChart columns
            ganttChart.setShowRes(0);
            ganttChart.setShowDur(0);
            ganttChart.setShowComp(0);
            ganttChart.setShowStartDate(0);
            ganttChart.setShowEndDate(0);
            ganttChart.setShowPlanStartDate(0);
            ganttChart.setShowPlanEndDate(0);
            ganttChart.setShowCost(0);
            ganttChart.setShowDeps(0);

            // add vertical scroll
            ganttChart.setTotalHeight('300px')

            // configure ganttChart date columns width
            ganttChart.setDayColWidth(22);

            // configure ganttChart date format displayed on top and bottom of the table
            ganttChart.setDayMajorDateDisplayFormat(dateFormat);
            ganttChart.setDateTaskTableDisplayFormat(dateFormat);
            ganttChart.setDateTaskDisplayFormat(dateTimeFormat);

            // configure ganttChart tooltip information
            ganttChart.setShowTaskInfoRes(0)
            ganttChart.setShowTaskInfoLink(0)

            // add data to chart
            $.each(ganttTasks, function (index, data) {
                ganttChart.AddTaskItemObject(data);
            });

            ganttChart.setTotalHeight(document.documentElement.clientWidth);

            ganttChart.setTooltipTemplate(function (task) {
                let tooltipHtml;
                $.ajax({
                    url: mainUrl + '/ganttTooltipFragment?taskId='+task.getDataObject().pID,
                    type: "get",
                    async: false,
                    success: function (responsePayload) {
                        console.log('get tooltip fragment success ')
                        tooltipHtml = responsePayload;
                    },
                    error: function (responsePayload) {
                        console.log('get tooltip fragment failed ' + responsePayload)
                        Swal.fire({
                            icon: 'error',
                            title: responsePayload
                        });
                    }
                });
                return tooltipHtml;
            });

            ganttChart.Draw();
        }

        function getTour(tourId, async) {
            if(typeof async == "undefined")
                async = true;
            let tour;
            $.ajax({
                url: mainUrl + '/api/tour/' + tourId ,
                type: "get",
                async: async,
                success: function (t) {
                    tour = t;
                },
                error: function (error) {
                    let errorMessage = 'failed get tour by id ' + tourId + ' error: ' + error;
                    console.error(errorMessage);
                    throw errorMessage;
                }
            });
            return tour;
        }
        /*]]>*/
    </script>
</div>
</body>
</html>