<th:block th:fragment="userFormContent">
    <div>

        <input type="hidden" name="id" th:value="${user.id}">

        <div class="row form-group">
            <div class="col-sm-2">
                <label for="username" class="form-label" th:text="#{user.name.cap}"></label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="username" th:field="*{username}">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-2">
                <label for="email" class="form-label" th:text="#{email.cap}"></label>
            </div>
            <div class="col">
                <input type="email" class="form-control" id="email" th:field="*{user.contactInfo}">
            </div>
        </div>

        <div class="row form-group">
            <div class="row form-group">

                <div class="col-sm-2"></div>

                <div class="col">
                    <button id="submitUserFormBtn" type="submit" class="btn btn-outline-success btn-block">
                        <i class="fas fa-check-square"></i>
                        <span th:text="#{submit.cap}"></span>
                    </button>
                </div>

<!--                <div class="col">-->
<!--                    <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="collapse"-->
<!--                            href="#userFormContainer" aria-controls="userFormContainer" aria-expanded="true">-->
<!--                        <i class="fas fa-window-close"></i>-->
<!--                        <span th:text="#{close.cap}"></span>-->
<!--                    </button>-->
<!--                </div>-->

                <div class="col">
                    <button class="btn btn-outline-warning btn-block" id="resetUserFormBtn"
                            type="button"
                            th:title="#{clear.title}">
                        <i class="fas fa-eraser"></i>
                        <span th:text="#{clear.cap} + #{form}"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>
