<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>PCS - tourParticipants</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/jquery.dataTables.css}">

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-daterangepicker/css/bootstrap-daterangepicker.css}"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/select2/css/select2.min.css}"/>

    <style>
        .from-to-date-fields-divider {
            padding-right: 1rem;
            padding-left: 1rem;
            text-align: center;
        }
    </style>
</head>
<body class="sb-nav-fixed">

<!-- Page management components -->
<div th:fragment="pageManageComponents" class="mx-auto order-0">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <a class="nav-link" id="userFormToggleBtn" data-toggle="collapse"
               data-target="#userFormContainer"
               aria-expanded="false" aria-controls="userFormContainer" href="#userFormContainer">
                <i id="userFormToggleBtnIcon" class="fas fa-eye"></i>
                <span th:text="#{user.cap} + #{form}"></span>
            </a>
        </div>
    </div>
</div>

<div layout:fragment="content">
    <!--    user form-->
    <div class="collapse" id="userFormContainer">
        <div class="card">
            <div class="card-header"><span th:text="#{user.cap.pl} + #{form}"></span></div>
            <div id="userFormDiv" class="card-body">
                <form th:object="${user}" th:action="@{/user}" th:method="post" id="userForm">
                    <th:block th:replace="user/userForm :: userFormContent"></th:block>
                </form>
            </div>
        </div>
    </div>

    <!--    users table -->
    <div class="collapse show">
        <div class="card">
            <div class="card-header"><span th:text="#{user.cap.pl}"></span></div>
            <div id="usersTableDiv" class="card-body">
                <table id="usersTable" class="display compact cell-border hover stripe"
                       th:replace="user/usersTable :: usersTable"></table>
            </div>
        </div>
    </div>
</div>
<div th:fragment="scripts">

    <script th:src="@{/webjars/momentjs/moment.js}"></script>

    <script th:src="@{/webjars/datatables/js/jquery.dataTables.js}"></script>

    <script th:src="@{/js/datetime-moment.js}"></script>

    <script th:src="@{/webjars/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js}"></script>

    <script th:src="@{/webjars/select2/js/select2.min.js}"></script>

    <!--<script type="module" th:src="@{/js/AjaxUtil.js}"></script>
    <script type="module" th:src="@{/js/Observer.js}"></script>-->

    <script type="module" th:inline="javascript">
        // main url stored in head tag of layout.html
        import {FragmentSubject} from "../picasso/js/Observer.js";
        import * as ajaxUtil from "../picasso/js/AjaxUtil.js";

        const mainUrl = $("meta[name='mainUrl']").attr("content");
        const userLocale = $("meta[name='userLocale']").attr('content');
        const dateRangePickerDateFormat = $("meta[name='dateRangePickerDateFormat']").attr('content');

        const userFormSubject = new FragmentSubject()
            .subscribe(initResetUserFormButton)
        ;

        const usersTableFragmentSubject = new FragmentSubject()
            .subscribe(initTableUserEditTourButtons)
        ;

        $(document).ready(function() {
            // page load initialization
            moment.locale(userLocale); // to fix different locale issue in date-range picker

            $.fn.dataTable.moment(dateRangePickerDateFormat, userLocale); // to fix sort by date columns

            $('#usersTable').DataTable({
                "drawCallback": function( settings ) {
                    console.debug('datatables draw callback fired');
                    usersTableFragmentSubject.notifyObservers(); // to fix edit/delete tour buttons when search in tours table
                },
                paging: true,
                searching: true,
                ordering: true,
                fixedHeader: true
            });

            usersTableFragmentSubject.notifyObservers();
            userFormSubject.notifyObservers();
        });

        function initResetUserFormButton() {
            $('#resetUserFormBtn').on('click', function(e){
                e.preventDefault();
                $(this).prop('disabled', true);

                let url = mainUrl + '/user/-1';

                ajaxUtil.get(url)
                    .then((userFormHTML) => {
                        $('#userForm').html(userFormHTML);
                        userFormSubject.notifyObservers();
                    })
                    .catch((error) => {
                        console.error('unable to reset user form HTML %s', error);
                        Swal.fire({
                            icon: 'error',
                            title: 'unable to reset user form'
                        });
                    })
                    .finally($(this).prop('disabled', false));
            })
        }

        function initTableUserEditTourButtons() {
            $('.userEditBtn').on('click', function (e) {
                e.preventDefault();
                let btn = $(this);
                btn.prop('disabled', true);

                let username = btn.attr('data-username');

                let url = mainUrl + '/user/' + username;

                ajaxUtil.get(url)
                    .then((userFormHTML) => {
                        $('#userForm').html(userFormHTML);
                        userFormSubject.notifyObservers();
                        $('#userFormContainer').collapse('show');
                    })
                    .catch((error) => {
                        console.error('unable to load user form HTML for username %s %s', username, error);
                        Swal.fire({
                            icon: 'error',
                            title: 'unable to open user form'
                        });
                    })
                    .finally(btn.prop('disabled', false));
            });
        }
    </script>
</div>
</body>
</html>