<div th:fragment="ganttEmployeeTaskTooltipContent">
    <div class="gTILine gTIsd">
        <span class="gTaskLabel" th:text="#{start.cap} + #{date} + ':'"></span>
        <span class="gTaskText">{{pStart}}</span>
    </div>
    <div class="gTILine gTIed">
        <span class="gTaskLabel" th:text="#{end.cap} + #{date} + ':'"></span>
        <span class="gTaskText">{{pEnd}}</span>
    </div>
    <div class="gTILine gTId">
        <span class="gTaskLabel" th:text="#{duration.cap} + ':'"></span>
        <span class="gTaskText">{{pDuration}}</span>
    </div>
</div>