<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Stanislav Wong">
    <meta name="mainUrl" th:content="${#httpServletRequest.getScheme()} + '://' + ${#httpServletRequest.getServerName()} + ':' + ${#httpServletRequest.getServerPort()} + ${#httpServletRequest.getContextPath()}" />
    <meta name="userLocale" th:content="${@userService.getCurrentUserLocale()}" />
    <meta name="userLanguage" th:content="${@userService.getCurrentUserLocale().getLanguage()}" />
    <meta name="ganttTaskDateFormat" th:content="${@environment.getProperty('app.date.format.gantt-task')}" />
    <meta name="ganttMajorDateFormat" th:content="${@environment.getProperty('app.date.format.gantt-major')}" />
    <meta name="dateRangePickerDateFormat" th:content="${@environment.getProperty('app.date.format.date-range-picker')}" />

    <title>Picasso</title>
<!--    common dependencies-->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.css}" rel="stylesheet" />

    <link th:href="@{/css/styles.css}" rel="stylesheet" />

    <link th:href="@{/vendor/fontawesome/css/all.css}" rel="stylesheet" type="text/css">

    <style th:inline="text">
        .sb-sidenav-menu {
            background-image: url([[@{/img/sidenav/2773_forest-cloudy-dark_828x1792.jpg}]]);
            background-size: cover;
        }

        .driver-icon {
            background: url([[@{/img/driver-icon-27021.png}]]);
            height: 20px;
            width: 20px;
            display: block;
        }

        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }
    </style>
<!--    common dependencies-->
</head>

<body class="sb-nav-fixed">

<div layout:fragment="header">
    <nav th:replace="fragments/header :: header"></nav>
</div>

<div id="layoutSidenav">
    <div th:replace="fragments/menu :: menu" id="layoutSidenav_nav"></div>
    <div id="layoutSidenav_content">
        <main>
            <div layout:fragment="content">
                <h1>You are welcome!</h1>
            </div>
        </main>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
<!--    common dependencies-->
<script th:src="@{/webjars/jquery/jquery.js}" ></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}" ></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}" ></script>

<script th:src="@{/js/scripts.js}"></script>

<script th:src="@{/vendor/fontawesome/js/all.js}" ></script>

<script th:src="@{/webjars/sweetalert2/dist/sweetalert2.all.min.js}" ></script>
<!--    common dependencies-->
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

<!--page specific dependencies-->
<div th:replace="~{this :: scripts}"></div>
<!--page specific dependencies-->
</body>
</html>
