<div th:fragment="menu" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Management</div>
                <a class="nav-link" th:href="@{/tour}">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-earth-asia"></i></div>
                    <span th:text="#{tour.cap.pl}"></span>
                </a>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmployeesNavs"
                   aria-expanded="false" aria-controls="collapseEmployeesNavs">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    <span th:text="#{employee.cap.pl}"></span>
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <div class="collapse" id="collapseEmployeesNavs" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav" th:each="employeeType : ${allEmployeeTypes}">
                        <a class="nav-link" th:href="@{/employee/{type}(type=${employeeType})}" >
                            <div class="sb-nav-link-icon"><i th:class="${employeeType.ICON_CSS_CLASS}"></i></div>
                            <span th:text="${employeeType.name}"></span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</div>