<table id="employeesTable" class="display compact cell-border hover stripe" th:fragment="employeesTable">
  <thead>
  <tr>
    <th>ID</th>
    <th th:text="#{name.cap}"></th>
    <th th:text="#{start.cap} + #{date}"></th>
    <th th:text="#{end.cap} + #{date}"></th>
    <th th:text="#{description.cap}"></th>
    <th></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>ID</th>
    <th th:text="#{name.cap}"></th>
    <th th:text="#{start.cap} + #{date}"></th>
    <th th:text="#{end.cap} + #{date}"></th>
    <th th:text="#{description.cap}"></th>
    <th></th>
  </tr>
  </tfoot>
  <tbody>

  <tr th:each="employee, row : ${employees}">
    <td><span th:text="${employee.id}"></span></td>
    <td><span th:text="${employee.name}"></span></td>
    <td><span th:text="${employee.getStartDateAsString()}"></span></td>
    <td><span th:text="${employee.getEndDateAsString()}"></span></td>
    <td th:title="${employee.description}"><span th:text="${employee.description}"></span></td>
    <td>

      <div class="btn-group" role="group" aria-label="employee entries management buttons">
        <button type="button" class="btn btn-sm btn-outline-primary employeeEditBtn"
                th:data-employee-id="${employee.id}" th:title="#{edit.title}">
            <i class="fas fa-edit"></i>
        </button>

        <button type="button" class="btn btn-sm btn-outline-danger employeeDeleteBtn"
                th:data-employee-id="${employee.id}" th:title="#{delete.title}">
            <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </td>
  </tr>

  </tbody>
</table>