<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>PCS - employees</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/jquery.dataTables.css}">

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-daterangepicker/css/bootstrap-daterangepicker.css}"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-select/dist/css/bootstrap-select.min.css}"/>

    <style>
        .from-to-date-fields-divider {
            padding-right: 1rem;
            padding-left: 1rem;
            text-align: center;
        }
    </style>
</head>
<body class="sb-nav-fixed">

<!-- Page management components -->
<div th:fragment="pageManageComponents" class="mx-auto order-0">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="nav-link" href="#employeeBindFilter"
               data-toggle="collapse" data-target="#employeeFilterDiv"
               aria-expanded="false" aria-controls="employeeFilterDiv">
                <i class="fas fa-filter"></i>
                <span th:text="#{filter.cap.pl}"></span>
            </a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <a class="nav-link" id="employeeFormToggleBtn" data-toggle="collapse"
               data-target="#employeeFormContainer"
               aria-expanded="false" aria-controls="employeeFormContainer" href="#employeeFormContainer">
                <i id="employeeFormToggleBtnIcon" class="fas fa-eye"></i>
                <span th:text="#{employeeFormToggleBtn}"></span>
            </a>
        </div>
    </div>
</div>

<div layout:fragment="content">
    <!--    filter form-->
    <div class="collapse show" id="employeeFilterDiv">
        <div class="card">
            <div class="card-header">employees filter form</div>
            <div class="card-body">
                <form th:object="${employeeFilter}" id="employeeFilterForm"
                      th:replace="employee/employeeFilterForm :: employeeFilterForm"></form>
            </div>
        </div>
    </div>
    <!--    employees table -->
    <div class="collapse show">
        <div class="card">
            <div class="card-header">employees table</div>
            <div id="employeesTableDiv" class="card-body">
                <table id="employeesTable" class="display compact cell-border hover stripe"
                       th:replace="employee/employeesTable :: employeesTable"></table>
            </div>
        </div>
    </div>

    <!--    employee form-->
    <div class="collapse" id="employeeFormContainer">
        <div class="card">
            <div class="card-header">employee form</div>
            <div id="employeeFormDiv" class="card-body">
                <form th:object="${employee}" th:action="@{/employee}" th:method="post" id="employeeForm"
                      th:replace="employee/employeeForm :: employeeForm"></form>
            </div>
        </div>
    </div>
</div>
<div th:fragment="scripts">

    <script th:src="@{/webjars/momentjs/moment.js}"></script>

    <script th:src="@{/webjars/datatables/js/jquery.dataTables.js}"></script>

    <script th:src="@{/js/datetime-moment.js}"></script>

    <script th:src="@{/webjars/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js}"></script>

    <script th:src="@{/webjars/bootstrap-select/dist/js/bootstrap-select.js}"></script>

    <script type="module" th:src="@{/js/employeePage.js}"></script>
</div>
</body>
</html>