<table id="tourParticipantsTable" class="display compact cell-border hover stripe" th:fragment="tourParticipantsTable">
  <thead>
  <tr>
    <th>ID</th>
    <th th:text="#{name.cap}"></th>
    <th th:text="#{created-by}"></th>
    <th th:text="#{create-date}"></th>
    <th th:text="#{updated-by}"></th>
    <th th:text="#{update-date}"></th>
    <th:block th:replace="~{'fragments/' + ${participantFragment} + '/tourParticipantAdditionalTableColumnHeaders' :: tourParticipantAdditionalTableColumnHeaders}"></th:block>
    <th></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>ID</th>
    <th th:text="#{name.cap}"></th>
    <th th:text="#{created-by}"></th>
    <th th:text="#{create-date}"></th>
    <th th:text="#{updated-by}"></th>
    <th th:text="#{update-date}"></th>
    <th:block th:replace="~{'fragments/' + ${participantFragment} + '/tourParticipantAdditionalTableColumnHeaders' :: tourParticipantAdditionalTableColumnHeaders}"></th:block>
    <th></th>
  </tr>
  </tfoot>
  <tbody>
  <th:block th:each="tourParticipant, row : ${tourParticipants}">
    <tr class="parent-row" th:id="${row.index} + '_' + ${tourParticipant.id}" th:data-tour-participant-id="${tourParticipant.id}">
      <td class="dt-control"><span th:text="${tourParticipant.id}"></span></td>
      <td><span th:text="${tourParticipant.name}"></span></td>
      <td><span th:text="${tourParticipant.createdBy}"></span></td>
      <td><span th:text="${tourParticipant.getCreateDateAsString}"></span></td>
      <td><span th:text="${tourParticipant.lastUpdatedBy}"></span></td>
      <td><span th:text="${tourParticipant.getUpdateDateAsString}"></span></td>
      <th:block th:replace="~{'fragments/' + ${participantFragment} + '/tourParticipantAdditionalTableColumns' :: tourParticipantAdditionalTableColumns}"></th:block>
      <td>
        <div class="d-flex flex-row align-items-center">
          <div class="pr-1 pl-1">
            <a href="#" class="tourParticipantEditBtn"
                    th:data-tour-participant-id="${tourParticipant.id}"
                    th:data-tour-participant-type="${tourParticipant.type}"
                    th:title="#{edit.title}">
              <i class="far fa-edit"></i>
            </a>
          </div>
          <div class="pr-1 pl-1">
            <div class="col form-check">
              <input class="form-check-input tourParticipantDeleteCheckBox" type="checkbox" value=""
                     th:data-tour-participant-id="${tourParticipant.id}"
                     th:data-tour-participant-type="${tourParticipant.type}">
            </div>
          </div>
        </div>
      </td>
      <th:block th:replace="~{'fragments/' + ${participantFragment} + '/tourParticipantAdditionalTableChildRow' :: tourParticipantAdditionalTableChildRow}"></th:block>
    </tr>
  </th:block>


  </tbody>
</table>

